# Student Performace Indicator 
## Life Cycle of the Project 
### .Understanding then problem 
### .Data Collection
### .Data checks to perform
### .Exploratory analysis
### .Data Preprocessing 
### .Model Training 
### .choose best model

### 1) Understanding the problem 
This project understands how the students performance (test score) is affected by the other variable like gender ethnicity parental level of education,lunch and test preparation course

### 2) Data Collection
. Data Source : https://www.kaggle.com/code/spscientist/student-performance-in-exams/input

### Import required packages and data

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
df= pd.read_csv('Data/Students.csv')

In [15]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
df.shape

(1000, 8)

### Dataset Information
. gender : sex of students -> (Male/female);

.race/ethnicity : ethnicity of students -> (Group A, B,C, D,E);

.parental level of education : parents' final education ->(bachelor's degree,some college,master's degree,associate's degree,high school);

.lunch : having lunch before test (standard or free/reduced);

.test preparation course : complete or not complete before test;

.maths score

.reading score

.writing score